<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/characters"></ion-back-button>
		</ion-buttons>
		<ion-title>Characters Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card *ngIf="character">
		<ion-card-content>
			<h3><strong>Character name: {{ character.name }} </strong></h3>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="character">
		<ion-card-content>
			<h3><strong>Occupation: {{ character.occupation }} </strong></h3>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="character">
		<ion-card-content>
			<h3><strong>Birthday: {{ character.birthday }} </strong></h3>
		</ion-card-content>
	</ion-card>


	<ion-card *ngIf="character">
		<ion-card-content>
			<img src="{{ character.img }}">
		</ion-card-content>
	</ion-card>
</ion-content>