<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Deaths</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<!-- This search will encapsulated the text retrieved and check if there is in the method search-->
	<ion-searchbar [(ngModel)]="text" (ionChange)="search($event)"></ion-searchbar>
	<ion-list>
		<!-- We can check the list from API of number of deaths -->
		<ion-item *ngFor="let death of deaths | async">
			{{ death.deathCount }}
		</ion-item>
	</ion-list>
</ion-content>